@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

::-webkit-scrollbar {
  display: none;
}

.element {
  overflow: -moz-scrollbars-none;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.container-fluid {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.navbar {
  z-index: 4;
  padding: 10px;
}

.nav-link {
  font-size: 16px !important;
}

.navbar-nav li {
  padding-right: 20px;
}

/**/
.navbar-brand {
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 22px;
  font-weight: 500;
}

.navbar-dark {
  color: white;
  padding: 15px;
  border-bottom: 2px coral solid;
}

.brightness {
  -webkit-filter: brightness(50%);
}

.carousel-inner img {
  height: 100%;
  width: 100%;
}

.carousel-indicators {
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h2 {
  font-size: 500%;
  text-transform: capitalize;
  text-shadow: 1px 1px 10px #000000;
}

.padding {
  padding: 25px 10px 25px 20px;
}

.heading hr {
  width: 75%;
  border-bottom: 1px solid #b2b2b2;
}

/*Search box*/
.searchbox {
  padding: 10px;
  background-color: lightgrey;
}

.centered {
  float: none;
  margin: 0 auto;
}

/*box*/
.box img {
  height: 200px;
  width: 200px;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 10px;
}

/*Login.html*/
/* Full-width input fields */
.container input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000050;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 7% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.message{
  color: red;
}
/*---Media Queries --*/

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .carousel-caption h2 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .carousel-caption h2 {
    font-size: 40px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto;
    border: 1px solid #888;
    width: 90%;
  }

  .container h1 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .carousel-caption h2 {
    font-size: 20px;
  }

  .container-fluid {
    width: 100%;
  }

  .carousel-indicators {
    width: 40px;
  }

  .footer p {
    font-size: 10px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 90%;
    /* Could be more or less, depending on screen size */
  }

  .container h1 {
    font-size: 30px;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* Popup container - can be anything you want */
/*.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}